@use "../abstract/" as *;
@use "../base/" as *;

.blog {
  #bilog {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    padding-top: 7rem;
  }

  &__wrapper {
    border-top: 1px solid #d9d9d9;
    padding-top: 2rem;
    padding-bottom: 10rem;
  }
  &__content {
    @include between;
    align-items: start;
    display: flex;
    margin-bottom: 2.25rem;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 1.5rem;

    &--text {
      display: flex;
      flex-direction: column;
      max-width: 50rem;
      padding-right: 10rem;
      justify-items: start;
      h3 {
        margin-bottom: 1rem;
        font-family: $font-secondary;
      }

      p {
        margin-bottom: 3rem;
        font-family: $font-primary;
      }
    }

    span {
      margin-right: 2rem;
    }

    h1 {
      font-size: 5.5rem;
      font-weight: 400;
      margin-top: 1rem;
      line-height: 4rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    img {
      width: 370px;
      height: 218px;
      margin-right: 2rem;
    }
  }

  &__button {
    margin-top: 5rem;
  }
}
