@use "../base/" as *;
@use "../abstract/" as *;

.homeBanner {
  &__wrapper {
    position: relative;
    max-height: 560px;
  }
  .container {
    padding: 0;
  }
  &__card {
    height: 35rem;
    display: flex;
    position: relative;

    h2 {
      opacity: 0;
      font-size: 3.5rem;
      letter-spacing: -2px;
      line-height: 3.5rem;
      position: absolute;
      right: 13rem;
      bottom: 14rem;

      transition: all 1s ease-in-out;
      transition-delay: 0.7s;
    }
    &.tns-slide-active h2 {
      opacity: 1;
    }
  }
}

.homeServices {
  margin: 2rem 0;
  &__wrapper {
    @include evenGrid(4, 2rem);
  }
  &__card {
    @include centerAll;
    flex-direction: column;
    gap: 2.5rem;
    padding: 5rem 0;
    position: relative;
    h3 {
      padding-bottom: 2rem;
      border-bottom: 4px solid #ffffff09;
      width: 100%;
      z-index: 100;
    }
    i {
      font-size: 3rem;
      z-index: 100;
      transition: all ease-out 0.4s;
    }
    p {
      font-family: $font-primary;
      z-index: 100;
    }

    a {
      transition: all ease-out 0.4s;
      margin-top: 1.7rem;
      z-index: 100;
    }

    span {
      height: 88%;
      width: 88%;
      position: absolute;
      transition: all ease-out 0.4s;
    }
    &:hover {
      span {
        background-color: #303033;
        height: 108%;
        width: 108%;
      }
      i {
        color: $clr--secondary;
      }
      a {
        color: $clr--dark;
        background-color: $clr--light;
      }
    }
  }
}

.homeService2 {
  margin: 2rem 0;
  &__wrapper {
    padding: 6rem 0;
  }
  &__title {
    @include between;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ffffff3b;
  }
  &__card {
    img {
      margin: 2rem 0 1.2rem 0;
    }
    p {
      font-family: $font-primary;
      line-height: 1.5rem;
    }
  }
}

.homeWhat {
  margin: 2rem 0;
  color: $clr--dark;
  &__wrapper {
    padding: 6rem 0;
    @include evenGrid(2, 2rem);
    align-items: start;
  }
  &__card {
    @include evenGrid(1, 1rem);

    h2 {
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #26252a27;
      color: $clr--dark;
    }
    p {
      font-family: $font-primary;
      font-size: 15px;
      line-height: 24px;
      padding-bottom: 1.2rem;
      border-bottom: 1px solid #26252a27;
      &:last-child {
        padding: 0;
        border: none;
      }
    }
    small {
      @extend p;
      font-size: 0.8rem;
      color: $clr--secondary;
    }
  }
}

.RAP {
  margin: 2rem 0;
  &__wrapper {
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    h2 {
      font-size: 126px;
      line-height: 110px;
    }
  }
  &__button {
    @include centerAll;
    justify-content: start;
    gap: 1rem;
    i {
      font-size: 30px;
    }
  }
}

.back-to-top {
  position: sticky;
  bottom: 2.7rem;
  left: 103.9rem;
}

