@use "../abstract/" as *;
@use "../base/" as *;

@keyframes moveUp {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}

.services {
  z-index: 1;
  &__baraha {
    animation: moveUp 1s;
  }
  p {
    margin-bottom: 3rem;
  }

  &__wrapper {
    padding: 6rem 0 3rem 0;
    display: flex;
    flex-direction: column;
  }
  &__title {
    @include evenGrid(2, 2rem);
    align-items: center;
    justify-items: space-between;
    border-bottom: 1px solid $clr--light;
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    h2 {
      font-family: $font-secondary;
      font-weight: 150;
    }
  }
  &__button {
    animation: moveUp 1s;
    display: flex;
    justify-content: end;
    gap: 0.2rem;
  }
  a {
    display: flex;
    justify-content: center;
  }
  &__card {
    h4 {
      margin: 1.5rem 0 0.3rem 0;
      color: $clr--secondary;
      font-family: $font-primary;
    }
    p {
      font-family: $font-primary;
      line-height: 1.4rem;
    }
    .three-dots {
      display: inline;
      color: $clr--light;
      text-decoration: underline;
      &:hover {
        color: $clr--secondary;
        transition: ease-in 0.3s;
      }
    }
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      height: 95%;
      width: 94.9%;
      background-color: #8181814d;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      transform: scale(1.03);
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

.price {
  z-index: 999;
  margin: 2rem 0;
  font-family: $font-primary;
  h2 {
    color: $clr--dark;
    border-bottom: 1px solid #d9d9d9;
  }
  h3 {
    font-size: 13px;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 3rem;
    padding-bottom: 1rem;
    & a:hover {
      transition: all 0.3s ease-in-out;
      color: $clr--primary;
    }
  }
  h4 {
    color: $clr--primary;
  }

  color: $clr--primary;
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 6rem 0;
  }
  &__report {
    max-width: 32%;
    animation: moveUp 1s;
    animation-duration: 1.39s;
    h4 {
      margin-top: 0.7rem;
    }
  }
  &__list {
    animation: moveUp 1s;
    h4 {
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
    ul {
      @include evenGrid(1, 0);
      justify-items: center;
      text-align: justify;
      a {
        transition: all 0.3s ease-in-out;
        color: $clr--primary;
        span {
          color: $clr--primary;
        }
        &:hover {
          color: $clr--secondary;
        }
      }
    }
  }
  &__halaga {
    @include evenGrid(3, 2.5rem);
    line-height: 2rem;
  }
}
