@use "../abstract/" as *;
@use "../base/" as *;

.footer {
  margin: 2rem 0 1.5rem 0;
  font-family: $font-primary;
  .container {
    padding-right: 0;
  }
  &__wrapper {
    @include between;
    align-items: start;
    p,
    a,
    li {
      color: #89888c;
      font-size: 0.8rem;
    }
  }
  &__icons {
    padding-top: 2rem;
    ul {
      @include between;
      gap: 0.45rem;
    }
  }
  &__address {
    @include evenGrid(1, 2rem);
    padding: 2rem 2rem 0 0;
  }
  iframe {
    width: 680px;
    height: 294px;
  }
}