@use "../abstract/" as *;
@use "../base/" as *;

.header {
    position: fixed;
    width: 100%;
    background-color: green;
    &__wrapper {
        @include between;
    }
    &__logo {
        width: 18.799rem;
        height: 19rem;
    }
}
