@use "../abstract/" as *;

.btn {
  padding: 13.5px 32px;
  background-color: $clr--secondary;
  color: $clr--light;
  font-size: 1.28rem;
  transition: all 0.3s ease-in-out;

  &.with-hover {
    &:hover {
      background-color: $clr--light;
      color: $clr--dark;
    }
  }
  &.with-hover--transparent {
    &:hover {
      background-color: transparent;
      color: $clr--dark;
    }
  }
}

.btn__circle {
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  &.slider {
    background-color: $clr--light;
    color: $clr--secondary;
    font-size: 10px;
    line-height: 10px;
    padding: 13px;
    &:hover {
      background-color: $clr--dark;
      color: $clr--secondary;
    }
  }
  &.footer {
    font-size: 15px;
    background-color: $clr--dark;
    color: $clr--light;
    border: 2px solid $clr--light;
    padding: 13px;
    i {
      width: 17px;
      height: 17px;
      text-align: center;
    }
    &:hover {
      background-color: $clr--secondary;
      color: $clr--light;
      border-color: $clr--secondary;
    }
  }
}
