@use "../abstract/" as *;

.btn {
  padding: 13.5px 32px;
  background-color: $clr--secondary;
  color: $clr--light;
  font-size: 1.28rem;

  &.with-hover {
    &:hover {
      background-color: $clr--light;
      color: $clr--dark;
    }
  }
}
