@use "../abstract/" as *;

@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(//fonts.googleapis.com/css?family=Ubuntu+Condensed);
@import url(//fonts.googleapis.com/css?family=Raleway:400,300);

$font-primary: "Ubuntu", normal;
$font-secondary: "Ubuntu Condensed", normal;
$font-tertiary: "Raleway", normal;

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $clr--light;
  margin-bottom: 2rem;
}

